{#
Resource upload form field that allows switching between:
  URL  <->  Unset  <->  File upload (when enabled)

The "url" field is
New uploaded files are saved as "upload", and "name" field is
updated with the file name if not already set.

When removing a file upload a special "clear_upload" field is passed

data - resource form data fields
errors - errors on resource form fields
is_url - true if resource using url (not file upload)
is_upload - true if resource using file upload (not url)
is_upload_enabled - true if site supports file uploads
url_label - label for URL field (default: "URL")
upload_label - label for upload field (default: "File")
menu_label - label for button menu (default: "Data")
placeholder - placeholder text for url field
#}
{% import "macros/form.html" as form %}

{% set first_button = 'resource-link-button' if is_upload_enabled else 'resource-link-button' %}

{% macro remove_button(js='') %}
  <button type="button" class="btn btn-danger btn-remove-url"
    onclick="
      document.getElementById('resource-url-none').checked = true;
      document.getElementById('{{ first_button }}').focus();
      {{ js }}
    ">{{ _('Remove') }}</button>
{% endmacro %}

<div data-module="resource-upload-field" class="resource-upload-field form-group">
  <input type="radio" id="resource-url-none" name="url_type" value="" {{
    'checked' if not data.url and not data.url_type else '' }}>
  <div class="select-type">
    <label id="resource-menu-label" class="form-label"
      >{{ menu_label or _('Data') }}</label>
    <div role="group" aria-labelledby="resource-menu-label">
      {% block url_type_select %}
        {% if is_upload_enabled %}
          <button type="button" class="btn btn-default" id="resource-upload-button"
            title="{{ _('Upload a file on your computer') }}"
            onclick="
              document.getElementById('resource-url-upload').checked = true;
              document.getElementById('field-resource-upload').click();
            "><i class="fa fa-cloud-upload"></i>{{ _("Upload") }}</button>
        {% endif %}
        <button type="button" class="btn btn-default" id="resource-link-button"
          title="{{ _('Link to a URL on the internet (you can also link to an API)') }}"
            onclick="
              document.getElementById('resource-url-link').checked = true;
              document.getElementById('field-resource-url').focus();
            "><i class="fa fa-globe"></i>{{ _('Link') }}</button>
        <button type="button" class="btn btn-default" id="resource-prem-button"
         title="{{ _('Add on-prem provider and path to file)') }}"
           onclick="
             document.getElementById('resource-prem-link').checked = true;
             document.getElementById('field-resource-prem').focus();
           "><i class="fa fa-cloud"></i>{{ _('On-prem data') }}</button>
      {% endblock %}
    </div>
  </div>

  {% block url_type_fields %}
    {% if is_upload_enabled %}
      <input type="radio" id="resource-url-upload" name="url_type" value="upload" {{
        'checked' if is_upload else '' }}>
      <div class="select-type">
        {% block upload_controls %}
          {% if is_upload %}
            {# for existing uploads we show the file name in a readonly input box #}
            <input type="checkbox" id="field-clear-upload" value="true">
            <div class="upload-type">
              <button type="button" class="btn btn-danger btn-remove-url"
                onclick="
                  document.getElementById('field-clear-upload').checked = true;
                  document.getElementById('field-resource-upload').focus();
                ">{{ _('Clear Upload') }}</button>
              <label class="form-label">{{ upload_label or _('File') }}</label>
              <div class="controls">
                {% set existing_name = data.get('url', '').split('/')[-1].split('?')[0].split('#')[0] %}
                <input value="{{ existing_name }}" class="form-control" readonly>
              </div>
            </div>
          {% endif %}
          <div class="upload-type">
            {{ remove_button(
              js="$('#field-resource-upload').replaceWith($('#field-resource-upload').val('').clone(true))") }}
                {% snippet 'r2uploader/snippets/uploader.html', data=data, pkg_id=pkg_dict.id, pkg_state=pkg_dict.state, errors=errors, error_summary=error_summary, include_metadata=false, pkg_name=pkg_name, stage=stage, dataset_type=dataset_type %}
              
            </div>
        {% endblock %}
      </div>
    {% endif %}

    <input type="radio" id="resource-url-link" name="url_type" value="" {{
      'checked' if is_url else '' }}>
    <div class="select-type">
      {% block link_controls %}
        {{ remove_button(
          js="$('#field-resource-url').val('')") }}
        {{ form.input(
          'url',
          label=url_label or _('URL'),
          id='field-resource-url',
          type='url',
          placeholder=placeholder,
          value=data.get('url'),
          error=errors.get('url'),
          classes=['control-full']) }}
      {% endblock %}
    </div>

    <input type="radio" id="resource-prem-link" name="url_type" value="" {{
      'checked' if data.get('provider', None) and data.get('provider') !="None"  else '' }}>
    <div class="select-type">
      {{ remove_button(
        js="$('#field-resource-prem').val('');$('#field-resource-provider').val('') ") }}
        {{ form.input(
          'path',
          label= _('File path'),
          id='field-resource-prem',
          type='text',
          placeholder=_('/directory/Simple_Chr21.bam'),
          value=data.get('path'),
          error=errors.get('path'),
          classes=['control-full'],
          is_required=true) }}
     

      <div class="form-group control-medium">
        <label class="form-label" for="field-resource-provider"><span style="color: #C6898B;margin-right: 0.25rem;" >*</span>{{ _('On-Prem Provider') }}</label>
          <input id="field-resource-provider" type="text" name="provider" placeholder="{{ _('Provider') }}"
                value="{{data.get('provider')}}" class="control-medium" data-module="autocomplete"
                data-module-source="/api/2/util/dataset_provider/autocomplete?q=?" required>

       
      </div>
     
        
        
      
    </div>
  {% endblock %}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const inputField = document.getElementById("field-resource-prem");
    const errorMessage = document.getElementById("error-message");
    const submitButtons = document.querySelectorAll("button[name='save']");
    
    const validExtensions = ["csv", "bam", "vcf", "bai", "tbi"];

   // Create the error message element if it doesn't exist
   let errorBlock = document.querySelector(".error-block");
    if (!errorBlock) {
        errorBlock = document.createElement("span");
        errorBlock.className = "error-block";
        errorBlock.style.display = "none";
        inputField.insertAdjacentElement("afterend", errorBlock);
    }

    inputField.addEventListener("blur", function() {
        const inputValue = inputField.value.trim().toLowerCase();
        let isValid = false;

        for (const ext of validExtensions) {
            if (inputValue.includes(ext)) {
                isValid = true;
                break;
            }
        }

        if (isValid) {
            errorBlock.style.display = "none";
            submitButtons.forEach(button => {
                button.disabled = false;
            });
        } else {
            errorBlock.textContent = "Please enter a valid file type: csv, bam, vcf, bai, or tbi.";
            errorBlock.style.display = "block";
            submitButtons.forEach(button => {
                button.disabled = true;
            });
        }
    });
});

</script>