{% ckan_extends %}

{% block footer_nav %}
<ul class="list-unstyled">
  {% block footer_links_ckan %}
    {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
    <li><a href="{{ api_url }}">{{ _('CKAN API') }}</a></li>
    <li><a href="https://datopian.com/about">{{ _('About Datopian') }}</a></li>
    <li><a href="https://datopian.com" target="_blank">Built by Datopian <br/> <img src="{{ h.url_for_static('/base/images/datopian-logo.svg') }}" width="120" alt="Open Data"></a></li>
    <li><a href="http://www.opendefinition.org/okd/" target="_blank"><img src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}" alt="Open Data"></a></li>
  {% endblock %}
</ul>
{% endblock %}